<div class='map-background'>
  <div class='map-main'>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="selectedItem" ng-options="item.name for item in items" placeholder="Enter Item" ng-change='drawItems([selectedItem], scale, svg, false)'  bs-typeahead>
        <div ng-repeat="item in itemList" class="items"> 
        	<h4 id="itemList">{{item[0].name}}<span></span></h4>
      </div>
    </form>
   <div ui-view></div>
 </div>
</div>

<!-- <button id="delete" ng-click="remove()">Remove</button> -->